<div>
  <h2 id="page-heading" data-cy="AdministrateurHeading">
    <span jhiTranslate="pedagApp.administrateur.home.title">Administrateurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pedagApp.administrateur.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-administrateur"
        [routerLink]="['/administrateur/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pedagApp.administrateur.home.createLabel"> Create a new Administrateur </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="administrateurs?.length === 0">
    <span jhiTranslate="pedagApp.administrateur.home.notFound">No administrateurs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="administrateurs && administrateurs.length > 0">
    <table class="table table-hover table-bordered" aria-describedby="page-heading">
      <thead>
        <tr class="table-primary" jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nom"><span jhiTranslate="pedagApp.administrateur.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prenom">
            <span jhiTranslate="pedagApp.administrateur.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="pedagApp.administrateur.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="grade">
            <span jhiTranslate="pedagApp.administrateur.grade">Grade</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <span jhiTranslate="pedagApp.administrateur.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let administrateur of administrateurs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/administrateur', administrateur.id, 'view']">{{ administrateur.id }}</a>
          </td>
          <td>{{ administrateur.nom }}</td>
          <td>{{ administrateur.prenom }}</td>
          <td>{{ administrateur.email }}</td>
          <td jhiTranslate="{{ 'pedagApp.Grade.' + administrateur.grade }}">{{ administrateur.grade }}</td>
          <td>
            {{ administrateur.user?.id }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/administrateur', administrateur.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <!--                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>--></button
              >&nbsp;

              <button
                type="submit"
                [routerLink]="['/administrateur', administrateur.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <!--                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>--></button
              >&nbsp;

              <button type="submit" (click)="delete(administrateur)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <!--                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="administrateurs && administrateurs.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      <!--    </div>-->

      <!--    <div class="row justify-content-center">-->
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
