<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="courriel">
      <h2 data-cy="courrielDetailsHeading"><span jhiTranslate="pedagApp.courriel.detail.title">Courriel</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pedagApp.courriel.receiver">Receiver</span></dt>
        <dd>
          <span>{{ courriel.receiver }}</span>
        </dd>
        <dt><span jhiTranslate="pedagApp.courriel.objet">Objet</span></dt>
        <dd>
          <span>{{ courriel.objet }}</span>
        </dd>
        <dt><span jhiTranslate="pedagApp.courriel.message">Message</span></dt>
        <dd>
          <span>{{ courriel.message }}</span>
        </dd>
        <dt><span jhiTranslate="pedagApp.courriel.dateCreation">Date Creation</span></dt>
        <dd>
          <span>{{ courriel.dateCreation | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
    </div>
  </div>
</div>
