<div>
  <h2 id="page-heading" data-cy="EnseignantHeading">
    <span jhiTranslate="pedagApp.enseignant.home.title">Enseignants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pedagApp.enseignant.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-enseignant"
        [routerLink]="['/enseignant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pedagApp.enseignant.home.createLabel"> Create a new Enseignant </span>
      </button>

      <button class="btn btn-warning" [routerLink]="['/enseignant/matiere/7/session/10/remplir-notes']">
        <fa-icon icon="plus"></fa-icon>
        <span>Remplir Notes </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="enseignants?.length === 0">
    <span jhiTranslate="pedagApp.enseignant.home.notFound">No enseignants found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="enseignants && enseignants.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead class="table-primary">
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="diplome">
            <span jhiTranslate="pedagApp.enseignant.diplome">Diplome</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nom"><span jhiTranslate="pedagApp.enseignant.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prenom">
            <span jhiTranslate="pedagApp.enseignant.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="grade"><span jhiTranslate="pedagApp.enseignant.grade">Grade</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="email"><span jhiTranslate="pedagApp.enseignant.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="telephone">
            <span jhiTranslate="pedagApp.enseignant.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="statut">
            <span jhiTranslate="pedagApp.enseignant.statut">Statut</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let enseignant of enseignants; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/enseignant', enseignant.id, 'view']">{{ enseignant.id }}</a>
          </td>
          <td>{{ enseignant.diplome }}</td>
          <td>{{ enseignant.nom }}</td>
          <td>{{ enseignant.prenom }}</td>
          <td jhiTranslate="{{ 'pedagApp.Grade.' + enseignant.grade }}">{{ enseignant.grade }}</td>
          <td>{{ enseignant.email }}</td>
          <td>{{ enseignant.telephone }}</td>
          <td jhiTranslate="{{ 'pedagApp.Statut.' + enseignant.statut }}">{{ enseignant.statut }}</td>

          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/enseignant', enseignant.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <!--                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>--></button
              >&nbsp;

              <button
                type="submit"
                [routerLink]="['/enseignant', enseignant.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <!--                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>--></button
              >&nbsp;

              <button type="submit" (click)="delete(enseignant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <!--                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="enseignants && enseignants.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
