<div>
  <h2 id="page-heading" data-cy="CoursFiliereHeading">
    <span jhiTranslate="pedagApp.coursFiliere.home.title">Cours Filieres</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pedagApp.coursFiliere.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cours-filiere"
        [routerLink]="['/cours-filiere/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pedagApp.coursFiliere.home.createLabel"> Create a new Cours Filiere </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="coursFilieres?.length === 0">
    <span jhiTranslate="pedagApp.coursFiliere.home.notFound">No coursFilieres found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="coursFilieres && coursFilieres.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="quotaHoraire">
            <span jhiTranslate="pedagApp.coursFiliere.quotaHoraire">Quota Horaire</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="filiere.id">
            <span jhiTranslate="pedagApp.coursFiliere.filiere">Filiere</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="matiere.id">
            <span jhiTranslate="pedagApp.coursFiliere.matiere">Matiere</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coursFiliere of coursFilieres; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cours-filiere', coursFiliere.id, 'view']">{{ coursFiliere.id }}</a>
          </td>
          <td>{{ coursFiliere.quotaHoraire }}</td>
          <td>
            <div *ngIf="coursFiliere.filiere">
              <a [routerLink]="['/filiere', coursFiliere.filiere?.id, 'view']">{{ coursFiliere.filiere?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="coursFiliere.matiere">
              <a [routerLink]="['/matiere', coursFiliere.matiere?.id, 'view']">{{ coursFiliere.matiere?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cours-filiere', coursFiliere.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cours-filiere', coursFiliere.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(coursFiliere)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="coursFilieres && coursFilieres.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
