<div>
  <h2 id="page-heading" data-cy="NoteHeading">
    <span jhiTranslate="pedagApp.note.home.title">Notes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="refresh()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pedagApp.note.home.refreshListLabel">Refresh List</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="notes?.length === 0">
    <span jhiTranslate="pedagApp.note.home.notFound">No notes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="notes && notes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="pedagApp.examen.dateExamen">date</span></th>
          <th scope="col"><span jhiTranslate="pedagApp.examen.type">type</span></th>
          <th scope="col"><span jhiTranslate="pedagApp.examen.semestre">semestre</span></th>
          <th scope="col">
            <span jhiTranslate="pedagApp.note.matiere">Matiere</span>
          </th>
          <th scope="col"><span jhiTranslate="pedagApp.note.moyenne">Moyenne</span></th>
          <th scope="col">
            <span jhiTranslate="pedagApp.note.observation">Observation</span>
          </th>
          <th scope="col">
            <span jhiTranslate="pedagApp.note.etudiant">etudiant</span>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let note of notes; trackBy: trackId" data-cy="entityTable">
          <td>
            <div *ngIf="note.examen">
              <a>{{ note.examen?.dateExamen }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="note.examen">
              <a jhiTranslate="{{ 'pedagApp.TypeExamen.' + note.examen.type }}">{{ note.examen?.type }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="note.examen">
              <a jhiTranslate="{{ 'pedagApp.Semestre.' + note.examen.semestre }}">{{ note.examen?.semestre }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="note.matiere">
              <a>{{ note.matiere?.libelle }}</a>
            </div>
          </td>
          <td>{{ note.moyenne }}</td>
          <td>{{ note.observation }}</td>
          <td>
            <div *ngIf="note.enseignant">
              <a>{{ note.etudiant?.etudiant?.id + ' ' + note.etudiant?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Modifier la note"
                type="submit"
                [routerLink]="['/note', note.id, 'edit']"
                class="btn btn-primary btn-xs"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon></button
              >&nbsp;

              <button
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Supprimer cette note"
                type="submit"
                (click)="delete(note)"
                class="btn btn-danger btn-xs"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="notes && notes.length">
    <hr />
    <div class="row">
      <div class="col-6">
        <div class="text-sm font-weight-bold">
          <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
        </div>
      </div>
      <div class="col-6">
        <div class="pagination-sm float-right">
          <ngb-pagination
            [collectionSize]="totalItems"
            [(page)]="ngbPaginationPage"
            [pageSize]="itemsPerPage"
            [maxSize]="5"
            [rotate]="true"
            [boundaryLinks]="true"
            (pageChange)="loadPage($event)"
          ></ngb-pagination>
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
