<div>
  <h2 id="page-heading" data-cy="NoteHeading">
    <span jhiTranslate="pedagApp.note.home.title">Notes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pedagApp.note.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-note"
        [routerLink]="['/note/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pedagApp.note.home.createLabel"> Create a new Note </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="notes?.length === 0">
    <span jhiTranslate="pedagApp.note.home.notFound">No notes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="notes && notes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="moyenne"><span jhiTranslate="pedagApp.note.moyenne">Moyenne</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="observation">
            <span jhiTranslate="pedagApp.note.observation">Observation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="creditMatiere">
            <span jhiTranslate="pedagApp.note.creditMatiere">Credit Matiere</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="creditObtenu">
            <span jhiTranslate="pedagApp.note.creditObtenu">Credit Obtenu</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sessionExamen.id">
            <span jhiTranslate="pedagApp.note.sessionExamen">Session Examen</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="etudiant.id">
            <span jhiTranslate="pedagApp.note.etudiant">Etudiant</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="examen.id"><span jhiTranslate="pedagApp.note.examen">Examen</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="matiere.id">
            <span jhiTranslate="pedagApp.note.matiere">Matiere</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="enseignant.id">
            <span jhiTranslate="pedagApp.note.enseignant">Enseignant</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let note of notes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/note', note.id, 'view']">{{ note.id }}</a>
          </td>
          <td>{{ note.moyenne }}</td>
          <td>{{ note.observation }}</td>
          <td>{{ note.creditMatiere }}</td>
          <td>{{ note.creditObtenu }}</td>
          <td>
            <div *ngIf="note.sessionExamen">
              <a [routerLink]="['/session-examen', note.sessionExamen?.id, 'view']">{{ note.sessionExamen?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="note.etudiant">
              <a [routerLink]="['/inscription', note.etudiant?.id, 'view']">{{ note.etudiant?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="note.examen">
              <a [routerLink]="['/examen', note.examen?.id, 'view']">{{ note.examen?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="note.matiere">
              <a [routerLink]="['/matiere', note.matiere?.id, 'view']">{{ note.matiere?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="note.enseignant">
              <a [routerLink]="['/enseignant', note.enseignant?.id, 'view']">{{ note.enseignant?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/note', note.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/note', note.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(note)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="notes && notes.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
