<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-dispenser-heading" data-cy="DispenserCreateUpdateHeading" jhiTranslate="pedagApp.dispenser.home.createOrEditLabel">
        Create or edit a Dispenser
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label" jhiTranslate="pedagApp.dispenser.anneeAcademique" for="field_anneeAcademique"
                >Annee Academique</label
              >
              <select
                class="form-control"
                id="field_anneeAcademique"
                data-cy="anneeAcademique"
                name="anneeAcademique"
                formControlName="anneeAcademique"
              >
                <option [ngValue]="null"></option>
                <option
                  [ngValue]="
                    anneeAcademiqueOption.id === editForm.get('anneeAcademique')!.value?.id
                      ? editForm.get('anneeAcademique')!.value
                      : anneeAcademiqueOption
                  "
                  *ngFor="let anneeAcademiqueOption of anneeAcademiquesSharedCollection; trackBy: trackAnneeAcademiqueById"
                >
                  {{ anneeAcademiqueOption.libelle }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label" jhiTranslate="pedagApp.dispenser.semestre" for="field_semestre">Semestre</label>
              <select class="form-control" name="semestre" formControlName="semestre" id="field_semestre" data-cy="semestre">
                <option [ngValue]="null">{{ 'pedagApp.Semestre.null' | translate }}</option>
                <option value="SEMESTRE1">{{ 'pedagApp.Semestre.SEMESTRE1' | translate }}</option>
                <option value="SEMESTRE2">{{ 'pedagApp.Semestre.SEMESTRE2' | translate }}</option>
                <option value="SEMESTRE3">{{ 'pedagApp.Semestre.SEMESTRE3' | translate }}</option>
                <option value="SEMESTRE4">{{ 'pedagApp.Semestre.SEMESTRE4' | translate }}</option>
                <option value="SEMESTRE6">{{ 'pedagApp.Semestre.SEMESTRE6' | translate }}</option>
              </select>
              <div *ngIf="editForm.get('semestre')!.invalid && (editForm.get('semestre')!.dirty || editForm.get('semestre')!.touched)">
                <small
                  class="form-text text-danger"
                  *ngIf="editForm.get('semestre')?.errors?.required"
                  jhiTranslate="entity.validation.required"
                >
                  This field is required.
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label" jhiTranslate="pedagApp.dispenser.enseignant" for="field_enseignant">Enseignant</label>
              <select class="form-control" id="field_enseignant" data-cy="enseignant" name="enseignant" formControlName="enseignant">
                <option [ngValue]="null"></option>
                <option
                  [ngValue]="
                    enseignantOption.id === editForm.get('enseignant')!.value?.id ? editForm.get('enseignant')!.value : enseignantOption
                  "
                  *ngFor="let enseignantOption of enseignantsSharedCollection; trackBy: trackEnseignantById"
                >
                  {{ enseignantOption.grade + ' ' + enseignantOption.prenom + '' + enseignantOption.nom }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label" jhiTranslate="pedagApp.dispenser.actif" for="field_actif">Actif</label>
              <input type="checkbox" class="form-check" name="actif" id="field_actif" data-cy="actif" formControlName="actif" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label" jhiTranslate="pedagApp.dispenser.matiere" for="field_matiere">Matiere</label>
              <select class="form-control" id="field_matiere" data-cy="matiere" name="matiere" formControlName="matiere">
                <option [ngValue]="null"></option>
                <option
                  [ngValue]="matiereOption.id === editForm.get('matiere')!.value?.id ? editForm.get('matiere')!.value : matiereOption"
                  *ngFor="let matiereOption of matieresSharedCollection; trackBy: trackMatiereById"
                >
                  {{ matiereOption.libelle }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
