<div class="row">
  <div routerLink="etudiant" class="col-md-3">
    <div class="card bg-primary mb-3 text-center" style="max-width: 50rem">
      <div class="card-header text-center font-weight-bold">Liste Etudiants</div>
      <div class="card-body">
        <fa-icon icon="users-cog" class="h1"></fa-icon>
      </div>
    </div>
  </div>
  <div routerLink="enseignant" class="col-md-3">
    <div class="card bg-primary mb-3 text-center" style="max-width: 50rem">
      <div class="card-header text-center font-weight-bold">Liste Enseignants</div>
      <div class="card-body">
        <fa-icon icon="users" class="h1"></fa-icon>
      </div>
    </div>
  </div>
  <div routerLink="filiere" class="col-md-3">
    <div class="card bg-primary mb-3 text-center" style="max-width: 50rem">
      <div class="card-header text-center font-weight-bold">Liste filieres</div>
      <div class="card-body">
        <fa-icon icon="asterisk" class="h1"></fa-icon>
      </div>
    </div>
  </div>
  <div routerLink="etudiant" class="col-md-3">
    <div class="card bg-primary mb-3 text-center" style="max-width: 50rem">
      <div class="card-header text-center font-weight-bold">Liste Etudiants</div>
      <div class="card-body">
        <fa-icon icon="users-cog" class="h1"></fa-icon>
      </div>
    </div>
  </div>
  <div routerLink="matiere" class="col-md-3">
    <div class="card bg-primary mb-3 text-center" style="max-width: 50rem">
      <div class="card-header text-center font-weight-bold">Liste Matieres</div>
      <div class="card-body">
        <fa-icon icon="users-cog" class="h1"></fa-icon>
      </div>
    </div>
  </div>
  <div routerLink="piece-jointe" class="col-md-3">
    <div class="card bg-primary mb-3 text-center" style="max-width: 50rem">
      <div class="card-header text-center font-weight-bold">Liste piece jointes</div>
      <div class="card-body">
        <fa-icon icon="asterisk" class="h1"></fa-icon>
      </div>
    </div>
  </div>
  <div routerLink="examen" class="col-md-3">
    <div class="card bg-primary mb-3 text-center" style="max-width: 50rem">
      <div class="card-header text-center font-weight-bold">Liste examens</div>
      <div class="card-body">
        <fa-icon icon="wrench" class="h1"></fa-icon>
      </div>
    </div>
  </div>
  <div routerLink="requete" class="col-md-3">
    <div class="card bg-primary mb-3 text-center" style="max-width: 50rem">
      <div class="card-header text-center font-weight-bold">Liste requetes</div>
      <div class="card-body">
        <fa-icon icon="database" class="h1"></fa-icon>
      </div>
    </div>
  </div>
  <!--  <div routerLink="courriel" class="col-md-3">-->
  <!--    <div class="card bg-primary mb-3 text-center" style="max-width: 50rem">-->
  <!--      <div class="card-header text-center font-weight-bold">Liste courriels</div>-->
  <!--      <div class="card-body">-->
  <!--        <fa-icon icon="asterisk" class="h1"></fa-icon>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <div routerLink="dispenser" class="col-md-3">
    <div class="card bg-primary mb-3 text-center" style="max-width: 50rem">
      <div class="card-header text-center font-weight-bold">Cours profs</div>
      <div class="card-body">
        <fa-icon icon="users-cog" class="h1"></fa-icon>
      </div>
    </div>
  </div>
  <div routerLink="inscription" class="col-md-3">
    <div class="card bg-primary mb-3 text-center" style="max-width: 50rem">
      <div class="card-header text-center font-weight-bold">Les inscriptions</div>
      <div class="card-body">
        <fa-icon icon="users" class="h1"></fa-icon>
      </div>
    </div>
  </div>
  <div routerLink="annee-academique" class="col-md-3">
    <div class="card bg-primary mb-3 text-center" style="max-width: 50rem">
      <div class="card-header text-center font-weight-bold">Annee Academique</div>
      <div class="card-body">
        <fa-icon icon="asterisk" class="h1"></fa-icon>
      </div>
    </div>
  </div>
  <div routerLink="cours-filiere" class="col-md-3">
    <div class="card bg-primary mb-3 text-center" style="max-width: 50rem">
      <div class="card-header text-center font-weight-bold">Cours Filiere</div>
      <div class="card-body">
        <fa-icon icon="book" class="h1"></fa-icon>
      </div>
    </div>
  </div>
  <div routerLink="module" class="col-md-3">
    <div class="card bg-primary mb-3 text-center" style="max-width: 50rem">
      <div class="card-header text-center font-weight-bold">Module</div>
      <div class="card-body">
        <fa-icon icon="book" class="h1"></fa-icon>
      </div>
    </div>
  </div>
  <div routerLink="session-examen" class="col-md-3">
    <div class="card bg-primary mb-3 text-center" style="max-width: 50rem">
      <div class="card-header text-center font-weight-bold">Sessions examen</div>
      <div class="card-body">
        <fa-icon icon="users-cog" class="h1"></fa-icon>
      </div>
    </div>
  </div>
  <div routerLink="session-examen" class="col-md-3">
    <div class="card bg-primary mb-3 text-center" style="max-width: 50rem">
      <div class="card-header text-center font-weight-bold">Sessions examen</div>
      <div class="card-body">
        <fa-icon icon="users-cog" class="h1"></fa-icon>
      </div>
    </div>
  </div>
  <div routerLink="deliberation" class="col-md-3">
    <div class="card bg-primary mb-3 text-center" style="max-width: 50rem">
      <div class="card-header text-center font-weight-bold">Les deliberations</div>
      <div class="card-body">
        <fa-icon icon="users-cog" class="h1"></fa-icon>
      </div>
    </div>
  </div>
</div>
