<div>
  <h2 id="page-heading" data-cy="CourrielHeading">
    <span jhiTranslate="pedagApp.courriel.home.title">Courriels</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pedagApp.courriel.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-courriel"
        [routerLink]="['/courriel/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pedagApp.courriel.home.createLabel"> Create a new Courriel </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="courriels?.length === 0">
    <span jhiTranslate="pedagApp.courriel.home.notFound">No courriels found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="courriels && courriels.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sender">
            <span jhiTranslate="pedagApp.courriel.sender">Sender</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="receiver">
            <span jhiTranslate="pedagApp.courriel.receiver">Receiver</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="objet"><span jhiTranslate="pedagApp.courriel.objet">Objet</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="message">
            <span jhiTranslate="pedagApp.courriel.message">Message</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateCreation">
            <span jhiTranslate="pedagApp.courriel.dateCreation">Date Creation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="etudiant.id">
            <span jhiTranslate="pedagApp.courriel.etudiant">Etudiant</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let courriel of courriels; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/courriel', courriel.id, 'view']">{{ courriel.id }}</a>
          </td>
          <td>{{ courriel.sender }}</td>
          <td>{{ courriel.receiver }}</td>
          <td>{{ courriel.objet }}</td>
          <td>{{ courriel.message }}</td>
          <td>{{ courriel.dateCreation | formatMediumDate }}</td>
          <td>
            <div *ngIf="courriel.etudiant">
              <a [routerLink]="['/inscription', courriel.etudiant?.id, 'view']">{{ courriel.etudiant?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/courriel', courriel.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/courriel', courriel.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(courriel)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="courriels && courriels.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
