<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-inscription-heading" data-cy="InscriptionCreateUpdateHeading" jhiTranslate="pedagApp.inscription.home.createOrEditLabel">
        Create or edit a Inscription
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pedagApp.inscription.date" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
          <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('date')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pedagApp.inscription.etudiant" for="field_etudiant">Etudiant</label>
          <select class="form-control" id="field_etudiant" data-cy="etudiant" name="etudiant" formControlName="etudiant">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="etudiantOption.id === editForm.get('etudiant')!.value?.id ? editForm.get('etudiant')!.value : etudiantOption"
              *ngFor="let etudiantOption of etudiantsSharedCollection; trackBy: trackEtudiantById"
            >
              {{ etudiantOption.prenom + ' ' + etudiantOption.nom }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pedagApp.inscription.filiere" for="field_filiere">Filiere</label>
          <select class="form-control" id="field_filiere" data-cy="filiere" name="filiere" formControlName="filiere">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="filiereOption.id === editForm.get('filiere')!.value?.id ? editForm.get('filiere')!.value : filiereOption"
              *ngFor="let filiereOption of filieresSharedCollection; trackBy: trackFiliereById"
            >
              {{ filiereOption.libelle }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pedagApp.inscription.anneeAcademique" for="field_anneeAcademique"
            >Annee Academique</label
          >
          <select
            class="form-control"
            id="field_anneeAcademique"
            data-cy="anneeAcademique"
            name="anneeAcademique"
            formControlName="anneeAcademique"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                anneeAcademiqueOption.id === editForm.get('anneeAcademique')!.value?.id
                  ? editForm.get('anneeAcademique')!.value
                  : anneeAcademiqueOption
              "
              *ngFor="let anneeAcademiqueOption of anneeAcademiquesSharedCollection; trackBy: trackAnneeAcademiqueById"
            >
              {{ anneeAcademiqueOption.libelle }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
