<div>
  <h2 id="page-heading" data-cy="ExamenHeading">
    <span jhiTranslate="pedagApp.examen.home.title">Examen</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pedagApp.examen.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-examen"
        [routerLink]="['/examen/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pedagApp.examen.home.createLabel"> Create a new Examen </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="examen?.length === 0">
    <span jhiTranslate="pedagApp.examen.home.notFound">No examen found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="examen && examen.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateExamen">
            <span jhiTranslate="pedagApp.examen.dateExamen">Date Examen</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="type"><span jhiTranslate="pedagApp.examen.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="semestre">
            <span jhiTranslate="pedagApp.examen.semestre">Semestre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let examen of examen; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/examen', examen.id, 'view']">{{ examen.id }}</a>
          </td>
          <td>{{ examen.dateExamen | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'pedagApp.TypeExamen.' + examen.type }}">{{ examen.type }}</td>
          <td jhiTranslate="{{ 'pedagApp.Semestre.' + examen.semestre }}">{{ examen.semestre }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/examen', examen.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span></button
              >&nbsp;

              <button type="submit" [routerLink]="['/examen', examen.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span></button
              >&nbsp;

              <button type="submit" (click)="delete(examen)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="examen && examen.length">
    <hr />
    <div class="row">
      <div class="col-6">
        <div class="text-sm font-weight-bold">
          <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
        </div>
      </div>
      <div class="col-6">
        <div class="pagination-sm float-right">
          <ngb-pagination
            [collectionSize]="totalItems"
            [(page)]="ngbPaginationPage"
            [pageSize]="itemsPerPage"
            [maxSize]="5"
            [rotate]="true"
            [boundaryLinks]="true"
            (pageChange)="loadPage($event)"
          ></ngb-pagination>
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
