<div class="row justify-content-center">
  <div class="col-4">
    <div class="card bg-secondary mb-3">
      <h3 class="card-header bg-primary text-center" jhiTranslate="login.title" data-cy="loginTitle">Sign in</h3>
      <div class="card-body">
        <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication" data-cy="loginError">
          <strong>Failed to sign in!</strong> Please check your credentials and try again.
        </div>
        <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
          <div class="form-group">
            <h5 class="card-title" for="username" jhiTranslate="global.form.username.label">Login</h5>
            <div class="form-group">
              <div class="input-group mb-3">
                <span class="input-group-text">Username</span>
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  id="username"
                  placeholder="{{ 'global.form.username.placeholder' | translate }}"
                  formControlName="username"
                  #username
                  data-cy="username"
                />
                <span class="input-group-text">
                  <fa-icon icon="user"></fa-icon>
                </span>
              </div>
            </div>
          </div>
          <br />
          <div class="form-group">
            <h5 class="card-title" for="password" jhiTranslate="login.form.password">Password</h5>
            <div class="form-group">
              <div class="input-group mb-3">
                <span class="input-group-text"> Password </span>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  id="password"
                  placeholder="{{ 'login.form.password.placeholder' | translate }}"
                  formControlName="password"
                  data-cy="password"
                />
                <span class="input-group-text">
                  <fa-icon icon="book"></fa-icon>
                </span>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-7">
              <div class="form-check">
                <label class="form-check-label" for="rememberMe">
                  <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" /> &nbsp;
                  <span jhiTranslate="login.form.rememberme">Remember me</span>
                </label>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <div class="input-group mb-3">
                  <input type="submit" class="btn btn-primary" value="{{ 'login.form.button' | translate }}" />
                  <span class="input-group-text">
                    <fa-icon icon="check"></fa-icon>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
