<div>
  <h2 id="page-heading" data-cy="RequeteHeading">
    <span jhiTranslate="pedagApp.requete.home.title">Requetes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pedagApp.requete.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-requete"
        [routerLink]="['/requete/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pedagApp.requete.home.createLabel"> Create a new Requete </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="requetes?.length === 0">
    <span jhiTranslate="pedagApp.requete.home.notFound">No requetes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="requetes && requetes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="dateCreation">
            <span jhiTranslate="pedagApp.requete.dateCreation">Date Creation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="objet"><span jhiTranslate="pedagApp.requete.objet">Objet</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="pedagApp.requete.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="statut"><span jhiTranslate="pedagApp.requete.statut">Statut</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="etudiant.id">
            <span jhiTranslate="pedagApp.requete.etudiant">Etudiant</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="note.sessionExamen.id"><span>Session Examen</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col">Note Attendue</th>
          <th scope="col">Note Obtenue</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let requete of requetes; trackBy: trackId" data-cy="entityTable">
          <td>{{ requete.dateCreation | formatMediumDate }}</td>
          <td>{{ requete.objet }}</td>
          <td>{{ requete.description }}</td>
          <td>
            <span
              *ngIf="requete.statut == statutAttente"
              class="btn btn-sm btn-warning"
              jhiTranslate="{{ 'pedagApp.StatutRequete.' + requete.statut }}"
            >
              {{ requete.statut }}
            </span>
            <span
              *ngIf="requete.statut == statutFonde"
              class="btn btn-sm btn-success"
              jhiTranslate="{{ 'pedagApp.StatutRequete.' + requete.statut }}"
            >
              {{ requete.statut }}
            </span>
            <span
              *ngIf="requete.statut == statutNonFonde"
              class="btn btn-sm btn-danger"
              jhiTranslate="{{ 'pedagApp.StatutRequete.' + requete.statut }}"
            >
              {{ requete.statut }}
            </span>
          </td>
          <td>
            <div *ngIf="requete.etudiant">
              <span>{{ requete.etudiant?.etudiant?.prenom + ' ' + requete.etudiant?.etudiant?.nom }}</span>
            </div>
          </td>
          <td>
            <div *ngIf="requete.note">
              <span>{{ requete.note?.sessionExamen?.type + ' ' + requete.note?.sessionExamen?.libelle }}</span>
            </div>
          </td>
          <td>
            <div *ngIf="requete.note">
              <span>{{ requete.noteAttendue }}</span>
            </div>
          </td>
          <td>
            <div *ngIf="requete.note">
              <span>{{ requete.note?.moyenne }}</span>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Valider la requete"
                *ngIf="canValidate(requete)"
                (click)="validerRequete(requete)"
                class="btn btn-success btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="check"></fa-icon>
                <!--                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>--></button
              >&nbsp;

              <button
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Rejeter la requete"
                *ngIf="canValidate(requete)"
                (click)="rejeterRequete(requete)"
                class="btn btn-warning btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="ban"></fa-icon></button
              >&nbsp;

              <button
                type="submit"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Supprimer la requete"
                (click)="delete(requete)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <!--                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="requetes && requetes.length">
    <hr />
    <div class="row">
      <div class="col-6">
        <div class="text-sm font-weight-bold">
          <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
        </div>
      </div>
      <div class="col-6">
        <div class="pagination-sm float-right">
          <ngb-pagination
            [collectionSize]="totalItems"
            [(page)]="ngbPaginationPage"
            [pageSize]="itemsPerPage"
            [maxSize]="5"
            [rotate]="true"
            [boundaryLinks]="true"
            (pageChange)="loadPage($event)"
          ></ngb-pagination>
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
