<div class="row">
  <div class="col-md-4">
    <div (click)="openProfile()" class="card text-white bg-primary mb-3" style="max-width: 20rem">
      <div class="card-header text-center font-weight-bold" jhiTranslate="dashboard.profil.title">Mon Profil</div>
      <div class="card-body">
        <p class="card-text font-italic" jhiTranslate="dashboard.profil.content">content.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card bg-light mb-3" style="max-width: 20rem">
      <div class="card-header text-center font-weight-bold" jhiTranslate="dashboard.requete.title">Mes Requetes</div>
      <div class="card-body">
        <p class="card-text font-italic" jhiTranslate="dashboard.requete.content">content.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card bg-secondary mb-3" style="max-width: 20rem">
      <div class="card-header text-center font-weight-bold" jhiTranslate="dashboard.notes.title">Mes Notes</div>
      <div class="card-body">
        <p class="card-text font-italic" jhiTranslate="dashboard.notes.content">content.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card bg-light mb-3" style="max-width: 20rem">
      <div class="card-header text-center font-weight-bold" jhiTranslate="dashboard.cours.title">Mes Cours</div>
      <div class="card-body">
        <p class="card-text font-italic" jhiTranslate="dashboard.cours.content">content.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card bg-secondary mb-3" style="max-width: 20rem">
      <div class="card-header text-center font-weight-bold" jhiTranslate="dashboard.courriel.title">Courriel</div>
      <div class="card-body">
        <p class="card-text font-italic" jhiTranslate="dashboard.courriel.content">content.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card bg-primary text-white mb-3" style="max-width: 20rem">
      <div class="card-header text-center font-weight-bold" jhiTranslate="dashboard.other.title">Autres . . .</div>
      <div class="card-body">
        <p class="card-text font-italic" jhiTranslate="dashboard.other.content">content.</p>
      </div>
    </div>
  </div>
</div>
