<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="dispenser">
      <h2 data-cy="dispenserDetailsHeading"><span jhiTranslate="pedagApp.dispenser.detail.title">Dispenser</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ dispenser.id }}</span>
        </dd>
        <dt><span jhiTranslate="pedagApp.dispenser.semestre">Semestre</span></dt>
        <dd>
          <span jhiTranslate="{{ 'pedagApp.Semestre.' + dispenser.semestre }}">{{ dispenser.semestre }}</span>
        </dd>
        <dt><span jhiTranslate="pedagApp.dispenser.actif">Actif</span></dt>
        <dd>
          <span>{{ dispenser.actif }}</span>
        </dd>
        <dt><span jhiTranslate="pedagApp.dispenser.anneeAcademique">Annee Academique</span></dt>
        <dd>
          <div *ngIf="dispenser.anneeAcademique">
            <a [routerLink]="['/annee-academique', dispenser.anneeAcademique?.id, 'view']">{{ dispenser.anneeAcademique?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="pedagApp.dispenser.enseignant">Enseignant</span></dt>
        <dd>
          <div *ngIf="dispenser.enseignant">
            <a [routerLink]="['/enseignant', dispenser.enseignant?.id, 'view']">{{ dispenser.enseignant?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="pedagApp.dispenser.matiere">Matiere</span></dt>
        <dd>
          <div *ngIf="dispenser.matiere">
            <a [routerLink]="['/matiere', dispenser.matiere?.id, 'view']">{{ dispenser.matiere?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/dispenser', dispenser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
